 <style>
        body{
            font-family: Times New Roman, serif;
            margin: 20px;
        }

        table{
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 25px;
        }

        th{
            background-color: blue ;
            color: pink;
            padding: 8px;
            text-align: left;
        }

        td{
            background-color: #d9e6f2;
            padding: 8px;
        }

        table, th, td{
            border: 1px solid #1b4f72;
        }

        .form-container{
            width: 500px;
            background-color: #b8e6b8;
            margin: auto;
            padding: 30px;
            border-radius: 40px;
        }

        .form-container h2{
            text-align: center;
            margin-bottom: 25px;
        }

        .form-group{
            margin-bottom: 15px;
        }

        label{
            display: inline-block;
            width: 80px;
            font-size: 18px;
        }

        input{
            width: 240px;
            padding: 8px;
            border: none;
            border-radius: 5px;
        }

        textarea{
            width: 240px;
            height: 80px;
            padding: 8px;
            border: none;
            border-radius: 10px;
            resize: none;
        }

        button{
            margin-left: 85px;
            padding: 8px 40px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

    

       
        
    </style>